<div class="household-name-window">
    <div class="household-name-container">
        <div class="title">
            @if (action === 'creating') {
                <p class="title-text">Nom du foyer</p>
            } @else {
                <p class="title-text">Code du foyer</p>
            }
        </div>
        <form class="household-name-form" (ngSubmit)="submitData()">
            <div class="form-field">
                @if (action === 'creating') {
                    <label class="field-label" for="household-name">Nom du foyer</label>
                    <input
                        type="text"
                        name="household-name"
                        id="household-name"
                        placeholder="Les Dupont..."
                        [(ngModel)]="formData.householdName"
                        required
                    >
                } @else {
                    <label class="field-label" for="household-code">Code d'invitation</label>
                    <input
                        type="text"
                        name="household-code"
                        id="household-code"
                        placeholder="XXXXXXXX"
                        [(ngModel)]="formData.joinCode"
                        required
                    >
                }
            </div>
            <button class="next-btn" type="submit">Suivant</button>
        </form>
    </div>
</div>